@use '../../../styles/variables.scss' as v;

.button {
  background: transparent;
  outline: none;
  border: none;

  &:hover {
    cursor: pointer;

    .circle {
      opacity: 1;
    }

    .test {
      fill: white;
    }
  }

  &:active {
    translate: 0 1px;
  }

  svg {
    width: 4.8rem;
    height: 4.8rem;

    @include v.large-screen {
      width: 7.5rem;
      height: 7.5rem;
    }
  }
}

